/* PC */

@media (min-width: 64em) {
    #header .mobile-menu-btn {
        display: none;
    }
}

/* Tablet & Mobile */
@media (max-width: 63.9375em) {
    #nav .subnav a {
        padding: 5px 12px;
    }

    .btn {
        padding: 15px 16px;
    }

    .contact-form .form-control {
        padding: 15px;
        font-size: 16px;
    }

    .contact-info {
        line-height: 2.0;
    }

    .contact-submit-btn {
        font-size: 16px;
    }

    #footer .socials-list {
        font-size: 28px;
    }

    #footer .socials-list a {
        margin: 0 8px;
    }

    #footer .copyright a {
        padding: 12px 0;
        display: inline-block;
    }
}

/* Tablet */

@media (min-width: 46.25em) and (max-width: 63.9375em){
    #header .mobile-menu-btn {
        display: none;
    }
}

/* Mobile */

@media (max-width: 46.1875em) {
    .s-full-width,
    .s-col-full {
        width: 100% !important;
    }
    
    .s-mt-8 {
        margin-top: 8px !important;
    }

    #header {
        overflow: hidden;
    }

    #header .search-btn {
        display: none;
    }

    #nav {
        display: block;
    }

    #nav li a {
        padding: 1px 24px;
    }
    
    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }

    #slider .text-content {
        bottom: 35px;
    }

    #slider .text-heading {
        font-size: 16px;
    }

    #slider .text-description {
        font-size: 9px;
        margin-top: 15px;
    }

    #content .member-img {
        width: 60%;
    }

    #content .member-name {
        margin-top: 17px;
    }

    .contact-form {
        margin-top: 32px;
    }
}